* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.dashboardCard {
    position: relative;
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 15px;
    padding: 10px;
    border: 1px solid #c3d1dd;
    border-radius: 4px;
    background-color: white;
    overflow: hidden;
}

.dashboardCard.metaData {
    line-height: 1.5;
    vertical-align: middle;
    position: relative;
    color: #6f7785;
    font-family: 'Monserrat', sans-serif;
    font-weight: bold;
    padding: 10px 0;
    font-size: 14px;
}

.dashboardCard [itemprop='photo'] {
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    transition: all 0.15s ease-in-out;
}

.dashboardCard .metaData [itemprop='title'] {
    text-decoration: underline;
    color: black;
    margin-top: 0;
    font-size: 18px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

.dashboardCard .metaData [itemprop='description'] {
    margin: 10px 0 0;
    color: black;
    font-size: 16px;
    padding: 10px;
}

.dashboardCard:hover {
    background-position: 0 0;
    box-shadow: 0px 5px 5px 5px #cfd4d9;
    transform: translate3d(0, -1px, 0) scale(1.03);
    background-size: 200% 100%;
    transition: all 0.25s linear;
}