<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="dashboardCard">
                <span itemprop="photo">
              <img src="assets/img/doctor.jpg" />
            </span>
                <div class="metaData">
                    <h3 itemprop="title">Doctor Visit</h3>
                    <p itemprop="description">
                        Visit a doctor every year for regular check ups to stay healthy.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="dashboardCard">
                <span itemprop="photo">
              <img src="assets/img/pharmacy.jpg" />
            </span>
                <div class="metaData">
                    <h3 itemprop="title">Pharmacy</h3>
                    <p itemprop="description">
                        Visit pharmacy to get medicines prescribed by doctors.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">

            <div class="dashboardCard">
                <span itemprop="photo">
              <img src="assets/img/lab.jpg" />
            </span>
                <div class="metaData">
                    <h3 itemprop="title">Laboratory</h3>
                    <p itemprop="description">
                        Visit laboratory to diagnose health condition for a given blood work.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">

            <div class="dashboardCard">
                <span itemprop="photo">
              <img src="assets/img/nurse.jpg" />
            </span>
                <div class="metaData">
                    <h3 itemprop="title">Nursing Services</h3>
                    <p itemprop="description">
                        Nurses provide medical and nursing care to patients in hospital.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<router-outlet> </router-outlet>